body {
  text-align: center;
  background: pink;
  font-family: comic sans 
}

.title {
  text-align: center;
  vertical-align: middle;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 30px;
}

#user_message {
  width: 400px;
}

#user {
  height: 180px;
  width: 600px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 20px;
}

#doctor {
  height: 180px;
  width: 600px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 20px;
}

#messageText {
  text-align: center;
}

#inner {
  width: 600px;
  height: 200px;
  text-align: center;
}

.mn_oc {
  width: 200px;
  height: 50px;
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
  background: url=("/Users/apple/Desktop/UIC/CS422/make note.png") no-repeat;
}

.pvm_oc {
  width: 200px;
  height: 50px;
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
  background: url=("/Users/apple/Desktop/UIC/CS422/Play video/Music.png") no-repeat;
}

.sa_oc {
  width: 200px;
  height: 50px;
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
  background: url=("/Users/apple/Desktop/UIC/CS422/Set Alarm.png") no-repeat;
}

.row5{
  width: 100%;
  min-height: 90px;
}

.menu {
  width: 100%;
  min-height: 100px;
  text-align: center;
  position: fixed;
  bottom: 0;
}

.icon {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 25px;
  width: 20%;
  min-height:90px;
  display:inline-block;
  text-align: center;
}

.logo {
  width: 50%;
  height: auto;
}

.label{
  display:block;
} 